{% extends "lab_8/layout/base.html" %}
{% block content %}
<section>
  <center>
    <div class="container">
      <div class="row">
        <div id="lab8" >
        </div>
      </div>
    </div>
  </center>
</section>

{% endblock %}
