<!-- templates/lab_6/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<section class="ThemeChange">
	<div class="theme-body" align=center >
		<select class="my-select"></select>
		<button class="apply-button">apply</button>
	</div>
</section>
<div id="footer" align=center>
<p>Made with Love by {{author}} &copy;</p>
</div>
