{% extends "base.html" %}

{% block content %}

<style>
	.status{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
        text-align: justify;
        text-justify: inter-word;
    }
    .name{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    #href_bio{

    }
</style>
<div class="center_screen">
    <p class="status">Hello, this is {{ name }}. {{ content }} Check my <a href="/lab-2-addon/">Biography</a>.</p>
</div>
{% endblock %}
